# Angular: builds e caches
dist/
out-tsc/
tmp/
coverage/
e2e/test-output/
.angular/
.ng/

# Dependências
node_modules/

# Variáveis de ambiente
.env
.env.*
!.env.example

# Cache do TypeScript
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*